<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" style="" jhiTranslate="home.title">Welcome to MTS Health Care!</h1>

        <!-- <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p> -->
        <br><br>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login, firstName: account.firstName, lastName: account.lastName, email: account.email }">You are logged in as user "{{ account.login }}, {{account.firstName}} {{account.lastName}}, {{account.email}}"</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix"> </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Sign in</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
        </p>

        <div [ngSwitch]="isAuthenticated()">
            <div  *ngSwitchCase="true" style="float: left; width: 300px; height:300px;">
                <img src="/content/images/casestudies.png" />
            </div>
            <div  *ngSwitchCase="true"  style="float: left; width: 200px; height:300px">
                <img src="/content/images/healthfactors.png" width="170px"  height="180px" style="padding-top: 20px;"/>
            </div>
            <div *ngSwitchCase="true"  style="float: left; width: 300px; height:300px">
                <img src="/content/images/pharmacy.png" />
            </div>
        </div>
        <div [ngSwitch]="!isAuthenticated()">
            <div  *ngSwitchCase="true" style="float: left;  height:300px;">
                <img src="/content/images/banner.jpg" width="100%"  height="300px" />
            </div>
        </div>
        
    </div>
</div>
